*{
    margin: 0;
    padding: 0;
}

form{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#ti{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    animation: animationcolor 4s linear infinite;
}
@keyframes animationcolor {
    0%{
        border-color: red;
    }
    25%{
        border-color: greenyellow;
    }
    50%{
        border-color: pink;
    }
    75%{
        border-color: blue;
    }
    
}



input{
    float: left;
    font-size: medium;
    padding: 10px;
    outline: 0;
    width: 40%;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
button{
    background-color: rgb(181, 12, 232);
    color: white;
    padding: 10px;
    border: none;
    font-size: medium;
    cursor: pointer;
    width: 10%;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
button:hover{
    opacity: .75;
}

#x{
    font-weight: 600;
}
#photo{
    display: block;
    margin: auto;
}
body{
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#reld{
    margin-left: 10px;
    color: rgb(208, 252, 76);
    font-weight: 600;
    font-size: large;
}
#rating{
    margin-left: 10px;
    color: rgb(11, 165, 231);
    font-weight: 600;
    font-size: large;
}
#platform{
    margin-left: 10px;
    color: rgb(11, 165, 231);
    font-weight: 600;
    font-size: large;
}
#endd{
    margin-left: 10px;
    color: rgb(247, 87, 87);
    font-weight: 600;
    font-size: large;
}
#detail{
    margin: 10px;
    line-height: 26px;
    font-weight: 500;
}
#footer{
   position: sticky;
   top: 100%;
   text-align: center;
}
#heading{
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
}
select{
    float: left;
    border: none;
    padding: 10px;
    width:15%;
    color: white;
    background-color: gray;
}


#download{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.downloadbtn{
    border: 1px solid white;
    width: 200px;
    text-align: center;
    margin: auto;
    background-color: transparent;
    padding: 6px;
    border-radius: 10px;
}

