form{
    text-align: center;
}
#ti{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
input{
    float: left;
    margin-left: 10px;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}
button{
    float: left;
    background-color: rgb(2, 64, 91);
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 4px;
    font-size: medium;
    cursor: pointer;
    width: 20%;

}
button:hover{
    opacity: .75;
}

#x{
    font-weight: 600;
}
#photo{
    display: block;
    margin: auto;
}
body{
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#reld{
    margin-left: 10px;
    color: rgb(208, 252, 76);
    font-weight: 600;
    font-size: large;
}
#rating{
    margin-left: 10px;
    color: rgb(11, 165, 231);
    font-weight: 600;
    font-size: large;
}
#platform{
    margin-left: 10px;
    color: rgb(11, 165, 231);
    font-weight: 600;
    font-size: large;
}
#endd{
    margin-left: 10px;
    color: rgb(247, 87, 87);
    font-weight: 600;
    font-size: large;
}
#detail{
    margin: 10px;
    line-height: 26px;
    font-weight: 500;
}
#footer{
   position: sticky;
   top: 100%;
   text-align: center;
}
#heading{
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
}
select{
    float: left;
    border-radius: 20px;
    margin-left: 3px;
    padding: 10px;
    width:25%;
}
#suggest{
    display: none;
    float: left;
    width: 60%;
    padding: 6px;
    margin-left: 10px;
    min-width: 150px;
    background-color: white;
    color: black;
    border-radius: 20px;
}


